/*=============================================================
 
========================================================  */


/* =============================================================
GOOGLE FONT
============================================================ */

@import url(http://fonts.googleapis.com/css?family=Ubuntu); /* FREE GOOGLE FONT */
@import url(http://fonts.googleapis.com/css?family=Oswald); /* FREE GOOGLE FONT */



/* =============================================================
GENERAL STYLES
============================================================ */
body {
font-family: 'Ubuntu', sans-serif;
color: #eee;
}

section {
padding-top: 80px;
padding-bottom: 40px;
}

.pad-bottom {
padding-bottom: 60px;
}

.header {
font-family: 'Oswald', sans-serif;
padding-bottom: 40px;
text-transform: uppercase;
}

.header hr {
width: 50px;
border-top: 2px solid #4285f4;
}


/* =============================================================
CUSTOM BUTTON STYLES
============================================================ */
.button-custom {
border-radius: 0px;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
margin: 25px 5px 5px 0px;
margin: 5px;
}

.btn-custom-one {
background-color: transparent;
color: #fff;
border: 2px solid #4285f4;
}

.btn-custom-one:hover {
background-color: #42a3f4;
text-decoration: none;
color: #fff;
}

.btn-custom-two {
color: #fff;
background-color: #4285f4;
border: 2px solid #4285f4;
}

.btn-custom-two:hover {
border: 2px solid #4285f4;
text-decoration: none;
color: #fff;
background-color: #42a3f4;
}

.btn-custom-three {
color: #fff;
background-color: #4285f4;
border: 2px solid #4285f4;
}

.btn-custom-three:hover {
border: 2px solid #4285f4;
text-decoration: none;
color: #fff;
background-color: #42a3f4;
}

/* =============================================================
MENU SECTION STYLES
============================================================ */
.navbar-inverse {
background-color: #4285f4;
border-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
background-color: transparent;
border-bottom: 1px solid #4285f4;
}

.navbar-inverse .navbar-nav > li > a {
font-size: 15px;
font-weight: 900;
padding: 5px 0px;
letter-spacing: 2px;
margin: 20px 20px 20px 20px;
color: #FFF;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-brand:hover {
color: #fff;
font-weight: 900;
font-family: 'Oswald', sans-serif;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
border-color: transparent;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
background-color: #4285f4;
}
.navbar-inverse .navbar-toggle {
border-color: #4285f4;
}



/* =============================================================
HOME SECTION STYLES
============================================================ */

#home {
text-align: center;
padding-top: 120px;
padding-bottom: 60px;
background-color: #eee;
color: black;
border-radius: 2px;

}

#home .box{
	margin: 1em;
	width: 70em;
	height: 14em;
	border-color: transparent;
}

#home .box .p{
	padding-bottom: 4em;
}

#home .social {
display: block;
margin: 50px 20px;
}

/*Carousel Slider*/

#carousel-slider {
padding: 50px 20px 5px 50px;
}

#carousel-slider h3 {
line-height: 50px;
font-family: 'Oswald', sans-serif;
}

#carousel-slider p {
color: black;
font-size: 16px;
line-height: 25px;
margin: 25px 20px;
}

/* =============================================================
SERVICES SECTION STYLES
============================================================ */
#services{
	background-color: #eee;
	color: black;
	height: 50em;
}


#services .services-wrapper {
background-color: transparent;
padding-bottom: 15px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
margin-bottom: 40px;
background-color: transparent;
cursor: pointer;
overflow-x: hidden;
position: relative;
-webkit-transition: all 0.2s ease;
-moz-transition: all 0.2s ease;
-ms-transform: all 0.2s ease;
-o-transition: all 0.2s ease;
transition: all 0.2s ease;
border-top: 2px solid black ;
border-bottom: 2px solid black;
border-left: 2px solid black;
border-right: 2px solid black;
width: 28em;
height: 14.5em;
font-size: 13px;
}

#services .services-wraper-position{
	padding-left: 30px;
	padding-top:30;
}

#services .services-wrapper:hover {
background-color: lightblue;
-webkit-transform: scale(1.1);
-moz-transform: scale(1.1);
-ms-transform: scale(1.1);
-o-transform: scale(1.1);
transform: scale(1.1);

}

#services h3 {
font-family: 'Oswald', sans-serif;
color:black;
}

#services .services-wrapper i {
margin: 5px;
color: #4285f4;
font-size: 80px;
}

/* =============================================================
METAON SECTION STYLES
============================================================ */
#metaon{
	background-color:black;
	color: white;
	height: 35em;
}

#metaon .metaon-wrapper {
background-color: transparent;
padding-bottom: 15px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
margin-bottom: 40px;
background-color: transparent;
cursor: pointer;
overflow-x: hidden;
position: relative;
-webkit-transition: all 0.2s ease;
-moz-transition: all 0.2s ease;
-ms-transform: all 0.2s ease;
-o-transition: all 0.2s ease;
transition: all 0.2s ease;
border-top: 2px solid black ;
border-bottom: 2px solid black;
border-left: 2px solid black;
border-right: 2px solid black;
width: 26em;
height: 13.5em;
}


#metaon .metaon-wrapper:hover {
background-color: #4285f4;
-webkit-transform: scale(1.1);
-moz-transform: scale(1.1);
-ms-transform: scale(1.1);
-o-transform: scale(1.1);
transform: scale(1.1);

}

#metaon h3 {
font-family: 'Oswald', sans-serif;
color:white;
padding-top: 3em;
padding-left: 13em;
font-size:40px;

p {
font-family: 'Oswald', sans-serif;
color:white;
font-size:40px;
}

}

#metaon .metaon-wrapper i {
margin: 5px;
color: #4285f4;
font-size: 60px;
}



/*============================
PROJECT SECTION STYLES
==============================*/
#project {
	background-color: white;
    color: black;
}

#project .categories a.active {
	padding: 15px;

}

.isotope .isotope-item {
-webkit-transition-duration: 0.8s;
-moz-transition-duration: 0.8s;
transition-duration: 0.8s;
}

#project .project-wrapper {
padding-left: 15px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
margin-bottom: 40px;
background-color: rgba(255, 255, 255, 0.1);
cursor: pointer;
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
border: 1px solid #4285f4;
}

#project .project-wrapper:hover {
background-color: transparent;
border: 1px solid #4285f4;

opacity: .80; /* standard: ff gt 1.5, opera, safari */
-ms-filter: "alpha(opacity=80)"; /* ie 8 */
filter: alpha(opacity=80); /* ie lt 7 */
-khtml-opacity: .80; /* safari 1.x */
-moz-opacity: .80; /* ff lt 1.5, netscape */

}

#project .project-wrapper h4 {
padding-top: 10px;
}



/*============================
TEAM SECTION STYLES
==============================*/
#team {
	 background-color: white;
	 color: black;
	 padding: auto;
}

.team-wrapper {
	 padding: auto;
overflow-x: hidden;
position: relative;
-webkit-transition: all 0.2s ease;
-moz-transition: all 0.2s ease;
-ms-transform: all 0.2s ease;
-o-transition: all 0.2s ease;
transition: all 0.2s ease;
margin-bottom:30px;
}
.team-wrapper:hover {
background-color: transparent;
-webkit-transform: scale(1.1);
-moz-transform: scale(1.1);
-ms-transform: scale(1.1);
-o-transform: scale(1.1);
transform: scale(1.1);
}
.team-wrapper .team-inner {
background-size: cover;
background-position: center;
-moz-background-size: cover;
-webkit-background-size: cover;
padding: 150px 0 10px;
/*background-image: url('../img/girl-big.jpg');*/
border-top: 2px solid black;
border-right: 2px solid black;
border-left: 2px solid black;
border-radius: 10px 10px 0px 0px;
}

.team-wrapper > .team-inner > a {
color: #4285f4;
width: 120px;
height: 120px;
border-radius: 50%;
-moz-border-radius: 50%;
-webkit-border-radius: 50%;
margin: 0 auto -50px;
display: block;
color: #4285f4;
z-index: 999;
font-size: 40px;
padding: 15px 22px;
background-color: #fff;
-webkit-transition: all 0.8s ease-in-out;
-moz-transition: all 0.8s ease-in-out;
-o-transition: all 0.8s ease-in-out;
transition: all 0.8s ease-in-out;
}

.team-wrapper > .team-inner > a:hover {
color: #fff;
text-decoration: none;
background-color: #4285f4;
}


.team-wrapper .description {
color: black;
padding: 30px 20px 20px;
text-align: center;
border-top: 2px solid black;
border-bottom: 2px solid black;
border-right: 2px solid black;
border-left: 2px solid black;
border-radius: 0px 0px 10px 10px;
}

.team-wrapper .description h5 {
color: #4285f4;
}



/*============================
CONTACT SECTION STYLES
==============================*/
#contact {
	background-color: white;
	color: black;
}

#contact .contact-wrapper {
background-color: transparent;
padding: 20px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
margin-bottom: 40px;
min-height:200px;
max-width: 435px;
}
#contact .contact-wrapper h3 {
color:#4285f4;
}
#contact .social-below {
display: block;
margin-top: 5px;
}
.footer-div {
padding-top:25px;
}
.footer-div a,.footer-div a:hover {
font-size:10px;

color:#fff;
text-decoration:none;
}

/*=======================
SPECIAL STUFF
=========================*/

#footer {
	background-color: #eee;
	width:auto;
	height: auto;
	position: center;
	color: black;
}

.banner ad {
width:468px;
margin:0 auto;
}

#metaongen {
	margin: 0em 0em 0em 0em;
	background-color:#000;
	border-radius: 2px;
	width:auto;
	height: auto;
	position: center;
	border-radius: 1px;
    color: white;
    height: 35em;
    
}
#metalgen {
	background-image: url("versions.jpg"); 
	border-radius: 2px;
	border-top: 2em solid #000;
	width:auto;
	height: auto;
	position: center;
	border-radius: 1px;
    color: black;
    padding-bottom: auto;
    border-bottom: 2em solid #eee;
    text-align: center;
}

#metalgen .left{   
    padding-bottom: 10em;
    float: left;
    width: 50%;
    height:25em;

}

#metalgen .right {
    margin-left: 50%;
}

.box {
    display: inline-block;
	background-color: #eee;
	height: auto;
    width: 350px;
    margin: 25px;
    color: #eee;
    border-right: 2px solid #4285f4;
    border-left: 2px solid #4285f4;
    border-bottom: 2px solid #4285f4;
}

.box .head{
	text-align: center;
	font-size: 1.8em;
	height: auto;
	width: 348px;
	background-color: #4285f4; 

}

.box p {
	font-size: 15px;
	padding-top: 20px;
	color: black;
}